{% if let Some(remaining) = remaining_guesses %}
<div class='guesses-remaining-box'>
    <p class='guesses-remaining'>Guesses remaining: <strong>{{ remaining }}</strong></p>
</div>
{% endif %}

<form class='guess-form'
      hx-post='/game/{{ game_id }}/guess'
      hx-target='#game-content'
      hx-swap='innerHTML'>
    <input type="hidden" name="authenticity_token" value="{{ csrf_token }}">
    <div class='guess-input-group'>
        <input type='number'
               name='guess'
               min='{{ min }}'
               max='{{ max }}'
               placeholder='Enter your guess'
               value=''
               required
               autofocus>
        <button type='submit'>
            Guess
            <span class='htmx-indicator'>
                <span class='spinner'></span>
            </span>
        </button>
    </div>
</form>

<div id='feedback' class='active {{ feedback_class }}'>
    {{ feedback_message }}
</div>
